name: Silpion Craft-Night Nightly Workflow

on:
  schedule:
    # * is a special character in YAML so you have to quote this string
    - cron:  '0 * * * *'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node: [ 8, 10, 12 ]
    steps:
      - name: checkout
        uses: actions/checkout@v2
      - name: print something
        run: ls
      - name: run tests
        env:
          secret: ${{ secrets.SOME_SECRET }}
        run: npx jest
